{%  extends 'adminapp/base.html' %}

{% block content %}
    <div class="">
    {% if object.is_active %}
        Уверены что хотите удалить продукт {{ object.get_full_name }}?
    {% else %}
        Хотите активировать продукт {{ object.get_full_name }}?
    {% endif %}
    </div>
    <form method="post">
    {% csrf_token %}
    <input type="submit" value="Уверен" class="btn btn-danger">
    </form>
    <a href="{%  url 'adminapp:product_list' object.category.pk %} "class="btn btn-success">Нет</a>
{% endblock %}